# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# Streamlit
.streamlit/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Saved models and vectorizers
model/
*.pkl

# OS specific
.DS_Store
Thumbs.db 